hr {
    border-style: none;
    border-top-style: dotted;
    border-color: brown;
    border-width: 5px;
    width: 5%;
  }

table.t01, th.01, td.01 {
    border: 1px solid black;
    border-collapse: collapse;
  }
  
tr:nth-child(even) {
    background-color:burlywood;
  }
  
th:nth-child(even),td:nth-child(even) {
    background-color:burlywood;
  }

  body {
    background-color: antiquewhite;
    color: brown;
  }

  h1 {
    color: #FF7B54;
  }

  h3{
    color: #FF7B54;
  }
    